---
type Props = {
  label: string
  for: string
  suffix?: string
  errors?: string[] | undefined
}

const { label, for: htmlFor, suffix, errors } = Astro.props
---

<label data-start="1" for={htmlFor} class="form-grid-field-label">
  {label}
</label>
<slot />
{suffix && <label for={htmlFor}>{suffix}</label>}
{
  errors?.map((error) => (
    <p class="error" data-start="2">
      {error}
    </p>
  ))
}

<style lang="scss">
  .form-grid-field-label {
    padding-inline-start: var(--form-grid-field-padding-start, 1rem);
    text-align: var(--form-grid-field-label-alignment, end);
  }
</style>
